@page "/error-test"

<PageTitle>Error Test - JobBridge</PageTitle>

<h1 style="-webkit-text-fill-color: #000000; font-size: var(--font-size-2xl)">Error Boundary Test</h1>
<button class="btn btn-danger" @onclick="ThrowError">Click to Test Error Boundary</button>

@code {
    private void ThrowError()
    {
        throw new Exception("This is a test error!");
    }
}