<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <!-- JobBridge and DateTime -->
            <div class="col-12 col-md-4 mb-3 mb-md-0 footer-section">
                <div class="footer-company">
                    <p class="footer-title">JobBridge</p>
                    <p class="footer-text">@DateTime.Now.ToString("MMMM dd, yyyy hh:mm")</p>
                </div>
            </div>

            <!-- Contact Us -->
            <div class="col-12 col-md-4 mb-3 mb-md-0 footer-section">
                <p class="footer-title">Contact Us</p>
                <div class="footer-contact">
                    <div class="footer-text">
                        Email: <a href="mailto:support@jobbridge.com" class="footer-link">support@jobbridge.com</a>
                    </div>
                    <div class="footer-text">
                        Phone: <a href="tel:+234567890" class="footer-link">(234) 567-890</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>